<!DOCTYPY html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jovian Careers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class='container'>
      <h1 class='text-center mt-2 mb-4'>{{company_name}} Careers</h1>
      <img class='img-fluid' src='https://f10771c0-b035-4375-97bb-b5612c53c0bf-00-2ouei4wndiyw9.kirk.replit.dev/static/banner.jpg' id="banner">
      <h2 class='text-center mt-2 mb-4'>About Jovian</h2>
      <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, arcu vitae eleifend aliquam, magna ligula lobortis magna, quis auctor mi nisl ac libero. Maecenas et lectus sagittis, euismod augue at, tristique ex. Ut in elementum metus. Nullam laoreet augue sed pharetra semper. Ut id erat ac velit hendrerit scelerisque. Nullam id diam vestibulum, pharetra felis eget, egestas justo. Nam feugiat velit sit amet nisl aliquam lacinia. Duis a neque lorem. In auctor erat nisi, sit amet posuere est molestie quis. In hac habitasse platea dictumst. Quisque imperdiet ornare iaculis. Mauris tincidunt, eros sit amet venenatis aliquet, purus risus euismod ligula, sed porttitor justo lorem et dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque nec ipsum odio. Curabitur pulvinar porttitor efficitur. Quisque ac sem non est molestie pharetra non ultricies quam.
      </p>
      <h2 class='text-center mt-2 mb-4'>Open Positions</h2>
      <div style="margin-bottom:16px;">
        {% for job in jobs %}
          <div>
            <h4 style="color: rgb(120,120,120); margin-bottom: 4px">{{job['title']}}</h4>
            <div><b>Location:</b> {{job['location']}}</div>
            {% if 'salary' in job %}
              <div><b>Salary:</b> {{job['salary']}}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div style='text-align:center'>
        <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2024, Jovian</p>
      </div>
    </div>
  </body>
</html>